{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Gear Store
{% endblock %}

{% block body_block %}
    <h1 id="page-header">About Gear Store</h1>
    <p>
        Gear Store will be an application designed to facilitate the lending and borrowing of sports equipment. A sports club in the university will have a large amount of supplies available for club  members to borrow, but it is very difficult for members to know exactly what is available or how to borrow it.
    </p>
    <br>
    <p>
        Similarly for those who store the gear, there are challenges that lie in knowing where any given piece of gear is, who has borrowed it, and when it should be returned.
    </p>
    <br>
    <p>
        Gear Store will reconcile these two groups by providing a portal where gear can be uploaded, displayed and borrowed easily, as a catalogue, as well as managing the admin for those who store it.
    </p>
    <!-- TODO add new description -->
{% endblock %}