{% extends 'gearStore/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
{% block title_block %}
    Add a piece of gear
{% endblock %}

{% block body_block %}
    <h1 id="page-header">Add a piece of gear!</h1>
    <div class="form-container">
        <div class="form-value">
            <form enctype="multipart/form-data" id='gear_form' method="post"
                  action="{% url "gearStore:add-gear" category.slug %}">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class="input-box">
                    <ion-icon name="person-outline"></ion-icon>
                    <Label for="">Gear Name</Label>
                    <input type="text" name="name" placeholder="gear name" required>
                </div>
                <div class="input-box">
                    <ion-icon name="mail-outline"></ion-icon>
                    <Label for="">Description</Label>
                    <input type="text" name="description" placeholder="description" required>
                </div>
                <div class="input-box">
                    <Label for="">Gear Image</Label>
                    <input type="file" name="picture" accept="image/*">
                </div>

                <div class="input-box">
                    <Label for="">Colour</Label>
                    <select name="colour" id="colour">
                        <option value="green">Green</option>
                        <option value="blue">Blue</option>
                        <option value="red">Red</option>
                        <option value="orange">Orange</option>
                        <option value="black">Black</option>
                    </select>
                </div>

                <div class="input-box">
                    <Label for="">Size</Label>
                    <select name="size" id="size">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>
                </div>

                <div class="submit-button">
                    <button>Add Gear!</button>
                </div>
            </form>
        </div>
    </div>
    {% if errors %}
        <ul class='form-errors'>
            <li class="error-warning">An error has occurred:</li>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        <br>
    {% endif %}
{% endblock %}