{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add Category
{% endblock %}

{% block body_block %}
    <h1 id="page-header">Add a Category!</h1>
    <div class="form-container">
        <div class="form-value">
            <form id = 'category_form' method="post" action="{% url "gearStore:add-category" %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-box">
                    <ion-icon name="person-outline"></ion-icon>
                    <Label for="">Category Name</Label>
                    <input type="text" name="categoryName" placeholder="category name" required>
                </div>
                <div class="input-box">
                    <ion-icon name="mail-outline"></ion-icon>
                    <Label for="">Description</Label>
                    <input type="text" name="categoryDescription" placeholder="description" required>
                </div>
                <div class="input-box">
                    <Label for="">Category Image</Label>
                    <input type="file" name="categoryImage" accept="image/png, image/jpeg">
                </div>
                <div class="submit-button">
                    <button>Add Category!</button>
                </div>
            </form>
        </div>
    </div>
    {% if errors %}
        <ul class='form-errors'>
            <li class="error-warning">An error has occurred:</li>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        <br>
    {% endif %}
{% endblock %}