<!DOCTYPE html>
{% load staticfiles %}

    <head>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="icon" type="image/png" href="{% static 'images/symbol.png' %}"/>
    </head>

    <title>
        {% block title_block %}
            Gear Store
        {% endblock %}
    </title>

    <!-- Photo by <a href="https://unsplash.com/@samferrara?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Samuel Ferrara</a> on <a href="https://unsplash.com/images/nature/mountain?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   -->
    <body style="background-image: url('{% static 'images/mountains.jpg' %}')">
        <header>
            <div class="top-bar">
                <span class="material-symbols-outlined">filter_hdr</span>
                <h1>Gear Store</h1>

                <ul class="loginOrAccountLinks">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'gearStore:account' %}">My Account</a></li>
                {% else %}
                    <li><a href="{% url 'gearStore:login' %}">Login</a></li>
                    <li><a href="{% url 'gearStore:register' %}">Register</a></li>
                {% endif %}
                </ul>
            </div>

            <ul class="navbar">
                <li><a href="{% url 'gearStore:index' %}">Home</a></li>
                <li><a href="{% url 'gearStore:about' %}">About</a></li>
                <li><a href="{% url 'gearStore:find-gear' %}">Find Gear</a></li>
                <li><a href="{% url 'gearStore:contact' %}">Contact Us</a></li>
            </ul>
        </header>
        <article>
            <div id="main-body">
                <div id="left-sidebar" class="body-column">
                    <h3>Gear Types</h3>
                    <!-- TODO auto generate gear types -->
                    <ul>
                        <li><a href="">Boots</a></li>
                        <li><a href="">Crampons</a></li>
                        <li><a href="">Ice Axes</a></li>
                    </ul>

                </div>

                <div id="content" class="body-column">
                    {% block body_block %}
                    {% endblock %}
                </div>

                <div id="right-sidebar" class="body-column">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a href="https://www.mwis.org.uk/" target="_blank">Mountain Weather Information Service</a></li>
                        <li><a href="https://www.walkhighlands.co.uk/" target="_blank">Walk Highlands</a></li>
                        <li><a href="https://www.ukclimbing.com/" target="_blank">UKClimbing</a></li>
                        <li><a href="https://www.stevenfallon.co.uk/" target="_blank">Steve Fallon</a></li>
                        <li><a href="https://www.sais.gov.uk/" target="_blank">Scottish Avalanche Information Service</a></li>
                    </ul>
                </div>
            </div>
            <br>
            <br>
        </article>
        <footer style="background-image: url('{% static 'images/mountains.jpg' %}')">
            <p class="copyright">Copyright Group 10E</p>
        </footer>
    </body>
</html>