<!DOCTYPE html>
{% load staticfiles %}

    <head>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>

    <title>
        {% block title_block %}
            Gear Store
        {% endblock %}
    </title>

    <body>
        <header>
            <div class="top-bar">
                <h1>Gear Store</h1>

                <ul class="loginOrAccountLinks">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'gearStore:index' %}">My Account</a></li>
                {% else %}
                    <li><a href="{% url 'gearStore:login' %}">Login</a></li>
                    <li><a href="{% url 'gearStore:register' %}">Register</a></li>
                {% endif %}
                </ul>
            </div>

            <ul class="navbar">
                <li><a href="{% url 'gearStore:index' %}">Home</a></li>
                <li><a href="{% url 'gearStore:about' %}">About</a></li>
                <li><a href="{% url 'gearStore:gear' %}">Gear</a></li>
                <li><a href="{% url 'gearStore:contact' %}">Contact Us</a></li>
            </ul>
        </header>

        <div id="main-body">
            <div id="left-sidebar" class="body-column">
                <h3>Gear Types</h3>
                <!-- TODO auto generate gear types -->
                <ul>
                    <li><a href="">Boots</a></li>
                    <li><a href="">Crampons</a></li>
                    <li><a href="">Ice Axes</a></li>
                </ul>

            </div>

            <div id="content" class="body-column">
                {% block body_block %}
                {% endblock %}
            </div>

            <div id="right-sidebar" class="body-column">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="">MWIS</a></li>
                    <li><a href="">AAIS</a></li>
                </ul>
            </div>
        </div>

        <footer>
            <p class="copyright">Copyright Group 10E</p>
        </footer>
    </body>
</html>