{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Gear
{% endblock %}

{% block body_block %}
    {% if category %}
        <h1 id="page-header">{{ category.name }}</h1>
        <img src="/media/{{ category.picture }}" class="picture">
        <p>Here you can see pieces of gear available to be borrowed:</p>
        {% if gear %}
            <ul>
                {% for piece_of_gear in gear %}
                    <li><a href="{% url 'gearStore:view-gear' piece_of_gear.slug %}">{{ piece_of_gear.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist.
    {% endif %}
{% endblock %}