{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Gear
{% endblock %}

{% block body_block %}
    <h1 id="page-header">Gear</h1>
    <p>Here you can see the types of gear available for borrowing.</p>
    {% if categories %}
        {% for c in categories %}
            <div class="category-menu-card" style="background-image: url('/media/{{ c.picture }}')">
                <a href="{% url 'gearStore:view-category' c.slug %}">{{ c.name }}</a>
                <p>{{ c.picture }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p><strong>There are no categories present.</strong><p>
    {% endif %}
{% endblock %}