{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Contact Us
{% endblock %}

{% block body_block %}
    <h1 id="page-header">Contact Us</h1>
    <p>Here is how you can contact us if you have any questions:</p>
    <br>
    <p>If you want to ask us any questions regarding using this website, please email:</p>
    <p>help@gearstore.com</p>
    <br>
    <p>If you have any questions about borrowing gear, please email:</p>
    <p>borrow@gearstore.com</p>
    <br>
    <p>You can drop us a follow on instagram @gear-store</p>
    <br>
    <p>You can also give us a call at +44 7933 123 456.</p>
{% endblock %}