{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <h1 id="page-header">Home</h1>
    <img src="{% static 'images/climbing.png' %}" class="picture">
    <p>Welcome to Gear Store! Gear Store is a website where you can find and borrow gear for sports! If you want to browse the gear available to be borrowed, take a look at the options in the left-hand sidebar, or browse the options in the Find Gear tab.</p>
{% endblock %}