{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <section style="background-image: url({% static 'images/Login-background.jpg' %});">
        <div class="form-container">
            <div class="form-value">
                <form action="">
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="username" required>
                        <Label for="">Username</Label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required>
                        <Label for="">Password</Label>
                    </div>
                    <button>Log in</button>
                    <div class="register">
                        <p>Don't have an account <a href="{% url 'gearStore:register' %}">Sign Up</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}