{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <h1 id="page-header">Login</h1>
    <div class="form-text-wrapper">
        <div class="form-container">
            <div class="form-value">
                <form action="">
                    <div class="input-box">
                        <ion-icon name="person-outline"></ion-icon>
                        <Label for="">Username</Label>
                        <input type="username" required>
                    </div>
                    <div class="input-box">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <Label for="">Password</Label>
                        <input type="password" required>
                    </div>
                    <div class="submit-button">
                        <button>Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="switch-register-login">
        <p>Don't have an account? <a href="{% url 'gearStore:register' %}">Sign Up Here!</a></p>
    </div>
{% endblock %}