{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <h1 id="page-header">Register</h1>
    <div class="form-container">
        <div class="form-value">
            <form action="{% url "gearStore:register" %}" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="input-box">
                    <ion-icon name="person-outline"></ion-icon>
                    <Label for="">Username</Label>
                    <input type="username" name="username" placeholder="janedoe1" required>
                </div>
                <div class="input-box">
                    <ion-icon name="mail-outline"></ion-icon>
                    <Label for="">Email</Label>
                    <input type="email" name="email" placeholder="jane.doe@mail.com" required>
                </div>
                <div class="input-box">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <Label for="">Password</Label>
                    <input type="password" name="password" placeholder="Password1!" required>
                </div>
                <div class="submit-button">
                    <button>Sign Up</button>
                </div>
            </form>
        </div>
    </div>
    <div class="switch-register-login">
        <p>Already have an account? <a href="{% url 'gearStore:login' %}">Login Here!</a></p>
    </div>
{% endblock %}