{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Gear
{% endblock %}

{% block body_block %}
    {% if gear %}
        <h1 id="page-header">{{ gear.name }}</h1>
        <div class="gear-view-contents">
            <div class="left-image">
                <img src="/media/{{ gear.picture }}">
            </div>
            <div class="right-text">
                <p><a href="{% url 'gearStore:view-category' category.slug %}">Category: {{ gear.category }}</a></p>
                <p>Colour: {{ gear.colour.title }}</p>
                <p>Size: {{ gear.size.title }}</p>
                <p>Date Added: {{ gear.dateAdded }}</p>
                <p class="below-picture">Description: {{ gear.description }}</p>
            </div>
        </div>
        {% if borrowed %}
            <p>You cannot currently borrow this item - it has already been borrowed!</p>
            <p>Return Date: {{ borrow.dateToReturn}}</p>
        {% else %}
            <p>Not currently borrowed</p>
            {% if user.is_authenticated %}
                <div class="form-container">
                    <div class="form-value">
                        <form method="post" action="{% url "gearStore:view-gear" gear.slug %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="submit-button">
                                <button>Borrow</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
                <p>Please log in to borrow this item!</p>
                <p><a href="{% url 'gearStore:login' %}">Login</a></p>
            {% endif %}
        {% endif %}
        <br>
        <br>
        <br>
    {% else %}
        <h1 id="page-header">Missing Gear</h1>
        <p>Error! No such piece of gear exists!</p>
    {% endif %}
{% endblock %}