/*
Imports
 */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600&display=swap'); /* Header and text fonts */

/*
    Header styling
*/

header {
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

header .top-bar {
    margin: 0;
    padding: 0;
    width: 100%;
}

header .top-bar h1 {
    float: left;
    display: inline;
    padding-left: 20px;
}

header ul {
    list-style-type: none;

}

header ul li {
    display: inline-block;
}

header .top-bar ul.loginOrAccountLinks {
    float: right;
    display: inline;
    vertical-align: middle;
}

header .top-bar ul.loginOrAccountLinks li {
    padding-left: 10px;
    padding-right: 10px;
}

header ul.navbar {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-bottom: 0;
}

header ul.navbar li {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: black;
    transition: color 0.5s;
}

/*
    Main body styling
*/

html, body {
    height: 100%;
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: 105%;
    background-attachment: fixed;
    margin: 0;
}

#main-body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    color: white;
}

header, #left-sidebar, #right-sidebar {
    background-color: rgba(0,0,0,0.25);
}

#content {
     background-color: rgba(0,0,0,0.125);
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: white;
}

.body-column {
    margin: 0;
    padding-top: 10px;
}


h3 {
    margin: 0;
    text-align: center;
}

#page-header {
    text-align: center;
    margin: 0;
}

.body-column ul {
    list-style-type: none;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*
    Form Styling
 */
.form-container {
    width: 100%;
}

.form-value {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.input-box {
    clear: both;
}

.input-box Label {
    float: left;
}

.input-box ion-icon {
    float: left;
}

.input-box input {
    float: right;
}

form .submit-button {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.switch-register-login {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Golos Text', sans-serif;
    font-weight: 600;
    color: white;
}

/*
    Footer styling
*/
footer p.copyright {
    text-align: center;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}