/*
Imports
 */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600&display=swap'); /* Header and text fonts */

/*
    Header styling
*/

.material-symbols-outlined {
    margin-top: 30px;
    margin-left: 10px;
    float: left;
    color: white;
    width: 40px;
    height: 40px;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

header {
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

header .top-bar {
    margin: 0;
    padding: 0;
    width: 100%;
}

header .top-bar h1 {
    float: left;
    display: inline;
}

header ul {
    list-style-type: none;

}

header ul li {
    display: inline-block;
}

header .top-bar ul.loginOrAccountLinks {
    float: right;
    display: inline;
    vertical-align: middle;
}

header .top-bar ul.loginOrAccountLinks li {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

header ul.navbar {
    clear: both;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
}

header ul.navbar li {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: slategray;
    transition: color 0.5s;
}

/*
    Main body styling
*/

html, body {
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

body{
    min-height: 100vh;
    margin:0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#main-body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    color: white;
    height: 90%;
}

header, #left-sidebar, #right-sidebar {
    background-color: rgba(0,0,0,0.25);
}

#content {
    background-color: rgba(0,0,0,0.1875);
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: white;
}

.body-column {
    margin: 0;
    padding-top: 10px;
    height: 100%;
}


h3 {
    margin: 0;
    text-align: center;
}

#page-header {
    text-align: center;
    margin: 0;
}

.body-column ul {
    list-style-type: none;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.picture {
    margin-top: 20px;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.picture-left {
    margin-top: 20px;
    width: 60%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    float: left;
}

.alongside-picture {
    margin-top: 20px;
    float: right;
}

.below-picture {
    padding-top: 20px;
    clear: both;
}

.sidebar-link {
    margin-top: 20px;
}

p {
    text-align: center;
}

.menu-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.menu-card {
    flex: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.menu-card:hover {
    background-color: rgba(0,0,0,0);
    transition: background-color 0.5s;
}

.menu-card-link {
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 10px;
}

.gear-view-contents {
    display: inline-flex;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.left-image img {
    width: 200px;
    border-radius: 20px;
}

.left-image {
    margin: 10px;
}

.right-text {
    flex-grow: 2;
    margin: 10px;
}

.right-text p {
    text-align: left;
}

/*
    Form Styling
 */

.form-container {
    width: 100%;
}

.form-value {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.input-box {
    clear: both;
}

.input-box Label {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}

.input-box ion-icon {
    float: left;
    margin-top: 15px;
}

.input-box input {
    float: right;
    border: none;
    width: 200px;
    height: 10px;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 10px;
}

form .submit-button button {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 40px;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    background-color: white;
    font-weight: bold;
}

form .submit-button button:hover {
    color: white;
    transition: all 0.5s;
    background-color: grey;
}

.switch-register-login {
    text-align: center;
}

.error-warning {
    font-weight: bold;
}

.form-errors {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Golos Text', sans-serif;
    font-weight: 600;
    color: white;
}

#action-button {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 40px;
    margin-bottom: 10%;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    background-color: white;
    font-weight: bold;
}

#action-button:hover {
        color: white;
    transition: all 0.5s;
    background-color: grey;
}

#account-image-form .form-value {
    margin-top: 0;
}

#account-image-form .form-value form div.input-box {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#account-image-form .form-value form div.input-box p {
    width: 100%;
}

#account-image-form .form-value form div.input-box input {
    text-align: center;
}

#account-image-form .form-value form div.submit-button button {
    margin-top: 0;
 }

input#file-choice {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.dropdown-label {
    margin-top: 0;
    float: left;
}

/*
    Footer styling
*/
footer p.copyright {
    text-align: center;
    width: 100%;
    color: white;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 105%;
    background-attachment: fixed;
}

@media only screen and (max-width: 800px) {
    #main-body {
        display: block;
        grid-template-columns: none;
        color: white;
        height: 90%;
    }

    #left-sidebar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0;
    }

    #right-sidebar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0;
    }

    #content p {
        margin: 0;
        padding:10px;
    }

    li.sidebar-link {
        margin: 10px;
    }

    footer {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .body-column {
        height: auto;
    }
}

#account-image-form {
    display: none;
}

.input-box Label.dropdown-label {
    margin-top: 0;
    margin-right: 10px;
}