/*
    Header styling
*/

header .top-bar {
    margin: 0;
    padding: 0;
    width: 100%;
}

header .top-bar h1 {
    float: left;
    display: inline;
}

header ul {
    list-style-type: none;

}

header ul li {
    display: inline-block;
}

header .top-bar ul.loginOrAccountLinks {
    float: right;
    display: inline;
    vertical-align: middle;
}

header ul.navbar {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

header ul.navbar li {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    text-decoration: none;
}

/*
    Body styling
*/

/*
    Footer styling
*/
footer p.copyright {
    text-align: center;
}